parameters:
	level: 6
	checkMissingIterableValueType: false
	fileExtensions:
		- php
	bootstrap: %currentWorkingDirectory%/config/bootstrap.php
	paths:
		- %currentWorkingDirectory%/src
	excludes_analyse:
		- tests/*
		- vendor/*		
		
		
		